<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div class="vue">
    <input type="text"  v-model:value="firstName">
    <input type="text"  v-model="lastName">
    <input type="text"  v-model="enName">
    <!--{{othername()}}-->
    {{othername}}
</div>
<script>
  new Vue({
        el:".vue",
        data:{
            firstName:"周",
            lastName:"伟红",
            enName:"Chou" ,
            othername:""
        },
        watch:{
            firstName(val){
             this.othername=val+this.enName;
            },
            enName(val){
                this.othername =this.firstName+val;
            }

        }
//        computed:{
//            othername(){
//                console.log(1);
//        return this.firstName+this.enName;
//
//    }
//        }
//        methods:{
//          othername(){
//              console.log(1);
//          return   this.firstName+this.enName;
//          }
//        }
    })
</script>
</body>
</html>